@use "./../abtracts/" as *;
footer {
    padding: 20px 15px;
    background: $color-black;
    @include mobile {
        padding: 0px 5px;
    }
    @include tablet {
        padding: 0px 10px;
    }
    hr {
        margin: 15px 15px;
        @include tablet {
            margin: 10px 10px;
        }
    }
}
.footer {
    &__hotline {
        @include flex(space-between, flex-start);
        @include mobile {
            flex-direction: column;
        }
        &__left,
        &__right {
            width: 100%;
            flex-basis: 50%;
            padding: 5px 15px;
            @include mobile {
                padding: 0px 15px;
            }
        }

        .hotline-title {
            color: $color-white;
            font-size: 1.2rem;
            text-transform: uppercase;
            font-weight: 400;
            word-spacing: 1.5px;
            text-align: center;
            line-height: 24px;
            @include tablet {
                font-size: 1.6rem;
            }
            @include mobile {
                font-size: 2.4rem;
                text-align: left;
            }
        }
        .hotline {
            text-align: center;
            font-size: 1.5rem;
            color: $color-primary-second;
            letter-spacing: 1px;
            @include tablet {
                font-size: 1.8rem;
            }
            @include mobile {
                font-size: 2.2rem;
                text-align: left;
            }
        }
        .hotline-link {
            display: block;
            line-height: 24px;
            text-align: center;
            font-size: 1rem;
            @include tablet {
                font-size: 1.4rem;
            }
            @include mobile {
                font-size: 2rem;
                text-align: left;
            }
            font-weight: 400;
            color: $color-white;
            text-transform: lowercase;
            letter-spacing: 1px;
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
    &__about {
        color: $color-white;
        @include flex(space-between, flex-start);
        @include mobile {
            flex-direction: column;
        }
        &-thongtin,
        &-chinhsach,
        &-faq {
            @include flex(center, flex-start) {
                flex-direction: column;
                width: 100%;
                flex-basis: 33.333%;
                @include mobile {
                    flex-basis: unset;
                }
            }
            padding: 5px 15px;
            @include tablet {
                padding: 5px 10px;
            }
            .title {
                letter-spacing: 1.5px;
                font-size: 1.8rem;
                @include tablet {
                    font-size: 2.4rem;
                }
                @include mobile {
                    font-size: 2.8rem;
                }
                text-transform: capitalize;
                font-weight: 300;
            }
            .link {
                display: block;
                color: $color-white;
                font-size: 1.2rem;
                @include tablet {
                    font-size: 1.4rem;
                }
                @include mobile {
                    line-height: 3rem;
                    font-size: 2rem;
                }
                text-transform: capitalize;
                text-decoration: none;
                font-weight: 300;
                cursor: pointer;
                line-height: 2.4rem;
                letter-spacing: 1.5px;
                word-spacing: 2px;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    &__form {
        display: flex;
        @include mobile {
            flex-direction: column;
        }
        &-registor,
        &-search {
            width: 100%;
            flex-basis: 40%;
            @include tablet {
                flex-basis: 35%;
            }
        }
        &-registor,
        &-search,
        &-boxemal {
            padding: 10px 15px;
            @include tablet {
                padding: 10px 10px;
            }
            @include mobile {
                padding: 5px 15px;
            }
            .heading {
                display: block;
                color: $color-white;
                font-size: 2rem;
                font-weight: 300;
                letter-spacing: 1.5px;
                @include smallDevice {
                    font-size: 2.4rem;
                }
                @include mobile {
                    font-size: 2.8rem;
                }
            }
            .input-box {
                display: flex;
                @include mobile {
                    display: inline-flex;
                }
                border: 2px solid $color-white;
                .input {
                    width: 100%;
                    flex-basis: 70%;
                    @include mobile {
                        width: 270px;
                        flex-basis: unset;
                    }
                    color: $color-text;
                    outline: none;
                    border: none;
                    background: $color-black-third;
                }
                .button {
                    width: 100%;
                    flex-basis: 30%;
                    color: $color-white;
                    background: $color-black;
                    text-align: center;
                    cursor: pointer;
                    @include mobile {
                        width: unset;
                        flex-basis: unset;
                    }
                }
                .input,
                .button {
                    padding: 3px 12px;
                    line-height: 2rem;
                    font-size: 1.4rem;
                    font-weight: 400;
                    @include smallDevice {
                        font-size: 1.8rem;
                    }
                    @include mobile {
                        font-size: 2.4rem;
                        line-height: 3rem;
                    }
                }
                .button {
                    @include mobile {
                        width: 45px;
                    }
                }
            }
        }
        &-boxemal {
            width: 100%;
            flex-basis: 20%;
            @include tablet {
                flex-basis: 30%;
            }
            padding: 10px 15px 10px 10px;
            .heading {
                @include flex(center, center);
                font-size: 1.8rem;
                @include mobile {
                    font-size: 2.4rem;
                    justify-content: flex-start;
                }
                color: $color-primary-third;
                i {
                    margin-right: 5px;
                    color: $color-black;
                    background-color: $color-primary-third;
                    font-size: 1.6rem;

                    @include flex(center, center) {
                        display: inline-flex;
                    }
                    width: 30px;
                    height: 30px;
                    @include smallDevice {
                        font-size: 1.8rem;
                    }
                    @include mobile {
                        font-size: 2rem;
                    }
                    border-radius: 50%;
                    border: 2px solid $color-white;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    &-bottom {
        padding: 0px 15px;
        @include tablet {
            padding: 0px 10px;
        }
        p {
            margin: 10px 0px;
            font-weight: 300;
            color: $color-white;
            font-size: 1.3rem;
            letter-spacing: 1.3px;
            word-spacing: 1.5px;
            @include tablet {
                font-size: 1.8rem;
            }
            @include mobile {
                font-size: 2rem;
            }
        }
    }
}
