@use "./../abtracts/" as *;

.main__slider {
    position: relative;
    .myswiper {
        width: 100%;
        height: 100%;
        .swiper-button-prev,
        .swiper-button-next {
            opacity: 1;
            position: absolute;
        }
        .swiper-button-prev {
            left: 0;
            transform: translateX(50%);
            @include smallDevice {
                transform: translateX(25%);
            }
        }
        .swiper-button-next {
            right: 0px;
            transform: translateX(-50%);
            @include smallDevice {
                transform: translateX(-25%);
            }
        }
        .swiper-button-prev:hover::after,
        .swiper-button-next:hover::after {
            color: $color-primary;
        }
        .swiper-button-prev::after,
        .swiper-button-next::after {
            content: "\f137";
            color: $color-text;
            font-family: FontAwesome;
            font-size: 3rem;
            @include smallDevice {
                font-size: 4rem;
            }
            transition: color 0.3s;
            position: absolute;
        }
        .swiper-button-next::after {
            content: "\f138";
        }
        .swiper-pagination {
            bottom: 8px !important;
            @include smallDevice {
                bottom: 8px !important;
            }
            > .swiper-pagination-bullet {
                width: 12px;
                height: 12px;
                @include mobile {
                    width: 8px;
                    height: 8px;
                }
                padding: 6px;
                opacity: 1;
                background-color: $color-black-second;
            }
            > .swiper-pagination-bullet-active {
                background-color: $color-primary;
            }
        }
    }
    transition: width 0.4s, height 0.4s;
    width: calc(100vw - $nav-width);
    height: calc((100vw - $nav-width) / 2);
    max-width: 100%;
    @include smallDevice {
        width: 100vw;
        height: 50vw;
    }
    &__item {
        img {
            object-fit: cover;
            display: block;
            height: 100%;
            width: 100%;
            cursor: pointer;
        }
    }
}
