@use "./../abtracts/" as *;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-family: "Roboto", sans-serif;
}
html,
body {
    height: 100%;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    @include tablet {
        font-size: 50%;
    }
    @include mobile {
        font-size: 37.5%;
    }
}
body {
    background-color: $color-white;
    font-weight: 400;
    line-height: 1.5;
    overflow-x: hidden;
    font-size: 1.6rem;
}
a {
    text-decoration: none;
    color: unset;
}
ul,
li {
    list-style-type: none;
}
img {
    max-width: 100%;
}
#top {
    visibility: hidden;
    border: none;
}
.container {
    margin-left: $nav-width;
    transition: margin-left 0.4s;
    @include smallDevice {
        margin-left: 0px;
    }
}
.scroll-top {
    position: fixed;
    z-index: 10001;
    display: inline-block;
    background-color: $color-black;
    color: $color-white;
    line-height: 30px;
    font-size: 2.4rem;
    text-align: center;
    width: 30px;
    @include smallDevice {
        font-size: 2.8rem;
    }
    @include mobile {
        font-size: 3.8rem;
    }
    border-radius: 50%;
    top: 80vh;
    right: -50px;
    cursor: pointer;
    &:hover {
        background-color: $color-primary;
    }
    transition: right 0.4s;
}
.scroll-top.show {
    right: 15px;
    @include smallDevice {
        right: 10px;
    }
}
