$color-black: #000;
$color-text: #7d7d7d;
$color-black-second: #bbb;
$color-black-third: #f7f7f7;
$color-white: #fff;
$color-primary: #78cccd;
$color-primary-second: #ef9608;
$color-primary-third: #33ccff;
$bg-overlay: rgba(0, 0, 0, 0.4);
$xs-width: 576px;
$sm-width: 768px;
$md-width: 992px;
$lg-width: 1200px;
