$color-black: #000;
$color-text: #2d2d2d;
$color-border: #d8d8d8;
$color-black-second: #bbb;
$color-black-third: #f7f7f7;
$color-white: #fff;
$color-primary: #78cccd;
$color-primary-second: #ef9608;
$color-primary-third: #33ccff;
$bg-overlay: rgba(0, 0, 0, 0.4);
$xs-width: 576px;
$sm-width: 768px;
$md-width: 992px;
$lg-width: 1200px;
$nav-width: 300px;
$nav-width-shrink: 320px;
$p-15-0: 15px 0px;
$p-25-0: 25px 0px;
$p-20-0: 20px 0px;
$p-10-0: 10px 0px;
$p-0-15: 0px 15px;
$p-0-10: 0px 10px;
$m-r-5: 5px;
